[Desktop Entry]
Type=Application
Name=X NetHack
Icon=nethack
Exec=/usr/games/xnethack
Terminal=false
Categories=Game;AdventureGame;
Keywords=adventure;roguelike;maze;dungeon;
StartupWMClass=NetHack
Comment=Dungeon crawl game - GUI version
